[init]
	defaultBranch = main
[core]
	editor = code --wait
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
	# Local gitconfig
	path = ~/.gitconfig-local
[commit]
    gpgsign = true
[alias]
    root = rev-parse --show-toplevel
    nb = checkout -b
    rebase-main = !git fetch && git rebase origin/main
    rebase-master = !git fetch && git rebase origin/master
    cmh = !git checkout main && git pull --rebase
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[delta]
    navigate = true
    side-by-side = true
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    dark = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    hunk-header-decoration-style = cyan box ul
    file-decoration-style = none
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

